{% extends "base.html" %}

{% block main %}

<style>
  .button {
    border: none;
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 80px;
  }
</style>

<div class="column is-mobile">
  <div class="column is-half is-offset-one-quarter">

    <nav class="panel">
      <p class="panel-heading">
        {{ title }}
      </p>

      <form method="POST" action="">

        <div class="panel-block">
          <div class="table-container column is-12">
            <table class="table is-striped is-fullwidth">
              <thead>
                <tr>
                  <th>Icon</th>
                  <th>Html Class</th>
                </tr>
              </thead>

              {% for icon in icons %}
              <tbody>
                <tr>
                  <td><i class="{{ icon.html_class }}" aria-hidden="true"></i></td>
                  <td>class="{{ icon.html_class }}"</td>
                </tr>
              </tbody>
              {% endfor %}
            </table>
          </div>
        </div>
      </form>
      <div class="panel-block">
        <div class="column is-4 is-offset-8">
          <div class="buttons are-medium">
            <a class="js-help button is-primary is-normal">
              Help
            </a>
            </br>
            <a class="button is-primary is-normal" href="{{ url_for('icons.register_icon') }}">
              Add
            </a>
          </div>
        </div>
      </div>
      <script>
        $(".js-help").click(function (event) {
          event.preventDefault();
          let _url = "{{ url_for('static', filename='js/jquery_icon_help.js') }}";
          params = {
            'help_me': 'Help Add Icon',
            'msg': '<p><span>The icons are provided by Font-Awesome!</span></p>' +
                   '<p><span>Access: <a href="https://fontawesome.com/">Font-Awesome</a></span></p>'
          };
          $.getScript(_url, function (params) {
          });
        });           
      </script>
    </nav>
  </div>
</div>
{% endblock main %}