{% extends "base.html" %}

{% block main %}
<div class="container">
    <div class="columns is-centered is-vcentered is-mobile">
        <section class="section">
            <form method="POST" action="">
                <nav class="panel">
                    <p class="panel-heading">
                        {{title}}
                    </p>
                    <section class="section">
                        
                        <p>
                            <a href="{{ url_for('devices.register_device_switch') }}"  type="submit" class="button is-medium is-fullwidth">Switch</a>
                        </p>
                        </br>
                        <p>
                            <a href="{{ url_for('devices.register_device_sensor') }}"  type="submit" class="button is-medium is-fullwidth">Sensor</a>
                        </p>
                    </section>
                </nav>
            </form>
        </section>
    </div>
</div>
{% endblock main %}