{% extends "base.html" %}

{% block main %}


<div class="column is-mobile">
    <div class="column is-half is-offset-one-quarter">

        <nav class="panel">
            <p class="panel-heading">
                {{ title }}
            </p>
            <form method="POST" action="">

                <div class="panel-block">
                    <div class="table-container column is-12">
                        <table class="table is-striped is-fullwidth">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Administration</th>
                                </tr>
                            </thead>

                            {% set counter = 0 -%}
                            {% for device in devices %}
                            <tbody>
                                <tr>
                                    {% if device.type_id == 1 %}
                                    <td>{{ device.name }}</td>
                                    <td> Switch </td>
                                    <td>
                                        <a class="button is-black is-small"
                                            href=""> 
                                            Details 
                                        </a>
                                        <a class="button is-black is-small"
                                            href="{{ url_for('devices.edit_device', id=device['id']) }}">
                                             Edit 
                                        </a>
                                        <a class="js-delete-confirm button is-black is-small"
                                            href="nada">
                                             Delete 
                                            {% set msg = device.name %}
                                        </a>
                                    </td>
                                    {% endif %}
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </form>
        </nav>
    </div>
</div>

<script>
    $(".js-delete-confirm").click(function (event) {
      event.preventDefault();
      let URL = $(this).attr('href');
      $.confirm({
        useBootstrap: false,
        scrollToPreviousElementAnimate: true,
        bgOpacity:0.90,
        boxWidth: '40%',
        title: 'Attention',
        content: 'Do you confirm the deletion of the Group?',
        type: 'red',
        buttons: {
          ok: {
            text: "Ok",
            btnClass: 'btn-red',
            keys: ['enter'],
            action: function () {
              window.location.href = URL
            }
          },
          cancel: function () {
  
          }
        }
      });
    })
  </script>

{% endblock main %}