{% extends "base.html" %}
{% block main %}
<div class="column is-mobile">
    <div class="column is-half is-offset-one-quarter">
        <form method="POST" action="">
            <nav class="panel">
                <p class="panel-heading">
                    {{ title }}
                </p>
                <section class="section">
                    <p>
                        <a type="submit" class="js-select-type button is-medium is-fullwidth is-primary">Add
                            Device</a>
                    </p>
                    </br>
                    <p>
                        <a href="{{ url_for('devices.list_device') }}" type="submit"
                            class="button is-medium is-fullwidth is-primary">List Device</a>
                    </p>

                    </br>
                    <p>
                        <a href="{{ url_for('devices.admin_device') }}" type="submit"
                            class="button is-medium is-fullwidth is-primary">Admin Device</a>
                    </p>
                    </br>
                    <p>
                        <a type="submit" class="js-about button is-medium is-fullwidth is-primary">About Device</a>
                    </p>
                    <script>
                        $(".js-select-type").click(function (event) {
                            $.confirm({
                                useBootstrap: false,
                                scrollToPreviousElementAnimate: true,
                                draggable: false,
                                bgOpacity: 0.90,
                                boxWidth: '50%',
                                title: 'Select device type',
                                type: 'blue',
                                content: '' +
                                    '<form action="" class="btn-dark">' +
                                    '<div class="form-group">' +
                                    '{% for x in types %}' +
                                    '<a href="{{ url_for('devices.register_device', id=x['id']) }}"  type="submit" class="button is-medium is-fullwidth is-primary">{{ x.name }}</a>' +
                                        '</br>' +
                                        '{% endfor %}' +
                                        '</div>' +
                                        '</form>' +
                                        '',
                                buttons: {
                                    cancel:{
                                        text: "Cancel",
                                        keys: ['esc'],
                                        action:function () {

                                        }
                                    },
                                }
                            });
                        });
                        
                        $(".js-about").click(function (event) {
                            event.preventDefault();
                            let _url = "{{ url_for('static', filename='js/jquery_about.js') }}";
                            params = {
                                'about_me': 'About Device',
                                'msg': '<p>Device are micro-controlled devices that use Mqtt as a communication protocol.</p>' +
                                    '<p>Appi2c currently supports two types of devices.</p>' +
                                    '<p>Switch type corresponds to actuators, relays, etc.</p>' +
                                    '<p>Sensor type corresponds to sensors, humidity, temperature, gas, etc.</p>' +
                                    '<p>Types of devices that do not correspond to existing ones. They need implementation.</p>'
                            };
                            $.getScript(_url, function (params) {

                            });
                        });
                    </script>
                </section>
            </nav>
        </form>
    </div>
</div>
{% endblock main %}