{% extends "base.html" %}

{% block script %}
<script language="JavaScript">
    function enable_text_pub(status) {
        status = !status;
        document.f1.topic_pub.disabled = status;
    }
</script>
{% endblock script %}

{% block body %}
onload="enable_text_pub(false)"
{% endblock body %}

{% block main %}
<form name=f1 method=post>
    <div class="container">
        <div class="columns is-centered is-vcentered is-mobile">

            <section class="section">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <nav class="panel">
                        <p class="panel-heading">
                            {{title}}
                        </p>

                        <section class="section">

                            <div class="field">
                                {{ form.name.label }}
                                {% if form.name.errors %}
                                {{ form.name(class="input is-info is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.name.errors %}
                                    <p class="help is-danger">
                                        <span>{{ error }}</span>
                                    </p>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.name(class="input is-info", type="text") }}
                                {% endif %}
                            </div>

                            <div class="field">
                                {{ form.topic_sub.label }}
                                {% if form.topic_sub.errors %}
                                {{ form.topic_sub(class="input is-info is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.topic_sub.errors %}
                                    <p class="help is-danger">
                                        <span>{{ error }}</span>
                                    </p>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.topic_sub(class="input is-info", type="text") }}
                                {% endif %}
                            </div>

                           
                            <div class="field">
                                {{ form.prefix.label }}
                                {% if form.prefix.errors %}
                                {{ form.prefix(class="input is-info is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.prefix.errors %}
                                    <p class="help is-danger">
                                        <span>{{ error }}</span>
                                    </p>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.prefix(class="input is-info", type="text") }}
                                {% endif %}
                            </div>

                            <div class="field">
                                {{ form.postfix.label }}
                                {% if form.postfix.errors %}
                                {{ form.postfix(class="input is-info is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.postfix.errors %}
                                    <p class="help is-danger">
                                        <span>{{ error }}</span>
                                    </p>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.postfix(class="input is-info", type="text") }}
                                {% endif %}
                            </div>

                            <div class="field">
                                {{ form.last_will_topic.label }}
                                {% if form.last_will_topic.errors %}
                                {{ form.last_will_topic(class="input is-info is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.last_will_topic.errors %}
                                    <p class="help is-danger">
                                        <span>{{ error }}</span>
                                    </p>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.last_will_topic(class="input is-info", type="text") }}
                                {% endif %}
                            </div>

                            <div class="field">
                                {{ form.qos.label }}
                                {% if form.qos.errors %}
                                {{ form.qos(class="input is-info is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.qos.errors %}
                                    <p class="help is-danger">
                                        <span>{{ error }}</span>
                                    </p>
                                    {% endfor %}
                                </div>
                                {% else %}
                                <p>
                                <div class="select is-info">
                                    {{ form.qos(class="select is-info", type="text") }}
                                </div>
                                </p>
                                {% endif %}
                            </div>

                            

                            <div class="field">
                                {{ form.groups.label }}
                                {% if form.groups.errors %}
                                <p>
                                <div class="select is-info">
                                    {{ form.groups(class="select is-info", type="text") }}
                                </div>
                                </p>
                                <div class="invalid-feedback">
                                    {% for error in form.groups.errors %}
                                    <p class="help is-danger">
                                        <span>{{ error }}</span>
                                    </p>
                                    {% endfor %}
                                </div>
                                {% else %}
                                <p>
                                <div class="select is-info">
                                    {{ form.groups(class="select is-info", type="text") }}
                                </div>
                                </p>
                                {% endif %}
                            </div>
                            </br>

                            <div class="field">
                                <a type="submit" class="js-select-icon button is-normal is-dark">Select Icon</a>
                                <i id="icon_class" aria-hidden="true"></i>
                            </div>

                            <div class="field">
                                {{ form.icon_id(id="iconid", class="input is-info", type="text", style="visibility:hidden", value=selected) }}
                            </div>


                            <div class="field">
                                <p class="control">
                                    {{ form.submit(class="button is-primary") }}
                                </p>
                            </div>

                        </section>
                    </nav>
                </form>
            </section>
        </div>
    </div>
</form>


<script>
    $(".js-select-icon").click(function (event) {
        $.confirm({
            useBootstrap: false,
            scrollToPreviousElementAnimate: true,
            draggable: false,
            bgOpacity: 0.90,
            boxWidth: '50%',
            title: 'Icon',
            type: 'blue',
            content:
                '' +
                '<table class="table" style="width:70%">' +
                '<thead>' +
                '<tr>' +
                '<th>Select</th>' +
                '<th>Icon</th>' +
                '</thead>' +
                '<tbody>' +
                '{% for icon in icons %}' +
                '<tr>' +
                '<td>' +
                '<div class="radio">' +
                '<input type="radio" id="{{icon.id}}" value={{icon.id}} name="icon-select" identify="{{ icon.html_class }}">' +
                '</div>' +
                '</td>' +
                '<td>' +
                '<div class="radiotext">' +
                '<i class="{{ icon.html_class }}" aria-hidden="true"></i>' +
                '</div>' +
                '</td>' +
                '</tr>' +
                '{% endfor %}' +
                '</tboby>' +
                '</table>' +
                '',
            buttons: {
                formSubmit: {
                    text: 'Select',
                    btnClass: 'btn-blue',
                    action: function () {
                        var selected = $('input[name=icon-select]:checked').val();
                        document.getElementById("iconid").value = selected;
                        var icon_class = $('input[name=icon-select]:checked').attr('identify');
                        if (!selected) {
                            $.alert({
                                useBootstrap: false,
                                scrollToPreviousElementAnimate: false,
                                draggable: false,
                                bgOpacity: 0.90,
                                boxWidth: '40%',
                                icon: 'far fa-frown',
                                title: 'Ooo nooo!',
                                content: 'Select a Icon',
                                type: 'red',
                            });
                            return false;
                        }
                        $("iconid").value = selected;
                        $("#icon_class").addClass(icon_class);
                    }
                },
                close: function () {
                },
            },
            onContentReady: function () {
                var jc = this;
                this.$content.find('form').on('submit', function (e) {
                    e.preventDefault();
                    jc.$$formSubmit.trigger('click');
                });
            }
        });
    });
</script>

{% endblock main %}