{% extends "base.html" %}
{% block main %}
<div class="column columns is-mobile">
<div class="column is-three-fifths is-offset-one-fifth">
    
    <nav class="breadcrumb" aria-label="breadcrumbs">
        {% for group in groups %}
        <ul>
            <li><a href="../">{{ group.name }}</a></li>
        </ul>
        {% endfor %}

    </nav>
    <section class="hero is-info welcome is-small">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Hello, {{ user }}
                </h1>
                <h2 class="subtitle">
                    I hope you are having a great day!
                </h2>
            </div>
        </div>
    </section>
    <section class="info-tiles">
        <div class="tile is-ancestor has-text-centered">
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">Status</p>
                    <p class="subtitle">Broker</p>
                </article>
            </div>
            <div class="tile is-parent">
                <article class="tile is-child box">
                    <p class="title">Total device in group</p>
                    <p class="subtitle">Device</p>
                </article>
            </div>
            
        </div>
    </section>
    <div class="columns">
        <div class="column is-mobile">
            <div class="card events-card">
                <header class="card-header">
                    <p class="card-header-title">
                        Events
                    </p>
                    <a href="#" class="card-header-icon" aria-label="more options">
                        <span class="icon">
                            <i class="fa fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </a>
                </header>
                <div class="card-table">
                    <div class="content">
                        <table class="table is-fullwidth is-striped">
                            <tbody>
                                <tr>
                                    <td width="5%"><i class="fa fa-bell-o"></i></td>
                                    <td>Lorum ipsum dolem aire</td>
                                    <td class="level-right"><a class="button is-small is-primary"
                                            href="#">Action</a></td>
                                </tr>
                                <tr>
                                    <td width="5%"><i class="fa fa-bell-o"></i></td>
                                    <td>Lorum ipsum dolem aire</td>
                                    <td class="level-right"><a class="button is-small is-primary"
                                            href="#">Action</a></td>
                                </tr>
                                <tr>
                                    <td width="5%"><i class="fa fa-bell-o"></i></td>
                                    <td>Lorum ipsum dolem aire</td>
                                    <td class="level-right"><a class="button is-small is-primary"
                                            href="#">Action</a></td>
                                </tr>
                                <tr>
                                    <td width="5%"><i class="fa fa-bell-o"></i></td>
                                    <td>Lorum ipsum dolem aire</td>
                                    <td class="level-right"><a class="button is-small is-primary"
                                            href="#">Action</a></td>
                                </tr>
                                <tr>
                                    <td width="5%"><i class="fa fa-bell-o"></i></td>
                                    <td>Lorum ipsum dolem aire</td>
                                    <td class="level-right"><a class="button is-small is-primary"
                                            href="#">Action</a></td>
                                </tr>
                                <tr>
                                    <td width="5%"><i class="fa fa-bell-o"></i></td>
                                    <td>Lorum ipsum dolem aire</td>
                                    <td class="level-right"><a class="button is-small is-primary"
                                            href="#">Action</a></td>
                                </tr>
                                <tr>
                                    <td width="5%"><i class="fa fa-bell-o"></i></td>
                                    <td>Lorum ipsum dolem aire</td>
                                    <td class="level-right"><a class="button is-small is-primary"
                                            href="#">Action</a></td>
                                </tr>
                                <tr>
                                    <td width="5%"><i class="fa fa-bell-o"></i></td>
                                    <td>Lorum ipsum dolem aire</td>
                                    <td class="level-right"><a class="button is-small is-primary"
                                            href="#">Action</a></td>
                                </tr>
                                <tr>
                                    <td width="5%"><i class="fa fa-bell-o"></i></td>
                                    <td>Lorum ipsum dolem aire</td>
                                    <td class="level-right"><a class="button is-small is-primary"
                                            href="#">Action</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="#" class="card-footer-item">View All</a>
                </footer>
            </div>
        </div>
        
    </div>
</div>
</div>
</div>

{% endblock main %}