{% extends "base.html" %}

{% block main %}

<style>
  img {
    filter: grayscale(100%);
  }
</style>

<div class="column is-mobile">
  <div class="container">
    <div class="container">

      <nav class="navbar is-white">
        <div class="container">
          <div class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item is-active" href="#">Blue Print</a>
              <a class="navbar-item" href="{{ url_for('groups.controller_group', id=group['id'] ) }}">Controller</a>
            </div>
          </div>
        </div>
      </nav>
      <div class="column is-half is-offset-one-quarter">
        <div class="box has-text-centered">
          <input id="lock" value="Unlock Device" class="button is-medium is-dark" type="submit">
        </div>
      </div>
    </div>
    <div class="section">
      <section class="hero is-medium">
        <figure class="image">
          <img src="{{ image }}">
        </figure>
        {% for device, icon in obj %}
        {% if device.type_id == 1 %}

        <div id="draggable {{device.id}}" class="column is-1 ui-widget-content" value={{device.id}}
          style="position: relative; left: {{device.position_left}}; top: {{device.position_top}};">

          {% if device.last_command == device.command_on %}
          <p><i id="color{{device.id}}" class="{{icon}}" color="#ff6600"></i></p>
          <input type="submit" class="button is-normal is-primary" id="{{device.id}}" value="Off">
          {% else %}
          <p><i id="color{{device.id}}" class="{{icon}}" color="#E9E2E0"></i></p>
          <input type="submit" class="button is-normal is-primary" id="{{device.id}}" value="On">
          {% endif %}

          <script>
            $("#{{device.id}}").click(function (ev) {
              ev.preventDefault();
              let param = { 'id': this.id, 'value': this.value, 'pub': true };
              deviceClickPub(param);
            });

            function deviceClickPub(param) {
              $.ajax({
                method: "POST",
                url: "/pub",
                contentType: 'application/json;charset=UTF-8',
                data: JSON.stringify(param),
                dataType: "json",
                success: function (data) {
                  let _id_data = data['id'];
                  document.getElementById(_id_data).setAttribute('value', data["next_command"]);
                  let _color_data = "color".concat(data['id']);
                  document.getElementById(_color_data).setAttribute('color', data["color"]);
                }
              });
            }
          </script>
        </div>
        {% endif %}



        {% if device.type_id == 2 %}
        <div id="draggable {{device.id}}" class="column is-1 ui-widget-content" value={{device.id}}
          style="position: relative; left: {{device.position_left}}; top: {{device.position_top}};">


          <p><i class="{{icon}}" color="#ff6600"></i></p>
          <p>
            <em>{{ device.prefix }}</em>
            <strong id="receive{{device.id}}" class="is-primary"> Waiting... </strong>
            <em style="font-size:16px;">{{ device.postfix }}</em>
          </p>

          <script type="text/javascript" charset="utf-8">
            socket.on('{{device.topic_sub}}', function (dataio) {
              if (dataio['topic'] === '{{device.topic_sub}}') {
                $('#receive{{device.id}}').text(dataio['payload']);
              }
            });
          </script>

        </div>
        {% endif %}
        {% endfor %}
      </section>
    </div>
  </div>
</div>





<script>
  //Draggable Icon
  $(function () {
    $(".ui-widget-content").draggable({
      cursor: "crosshair",
      containment: ".image"
    });
  });

  //Lock and Unlock draggable Icon
  $(function () {
    //init state locked
    if ($("#lock").val() === "Unlock Device") {
      $(".ui-widget-content").draggable("disable");
    }

    //click button lock
    $("#lock").click(function () {
      if ($(this).val() === 'Unlock Device') {
        $("#lock").val("Lock Device")
        $(".ui-widget-content").draggable("enable");
      } else {
        $(".ui-widget-content").draggable("disable");
        $("#lock").val("Unlock Device")
      }
    });
  });
</script>


<script>
  //Event drag *indetermined time 
  //get inf. the position Icon
  $('.ui-widget-content').on('drag', function (e) {
    var _id = this.id;
    var _left = this.style['left'];
    var _top = this.style['top'];

    $.ajax({
      method: "POST",
      url: "/get_position",
      contentType: 'application/json;charset=UTF-8',
      data: JSON.stringify({ 'id': _id, 'left': _left, 'top': _top }),
      dataType: "json"
    });
  });
</script>

{% endblock main %}