{% extends "base.html" %}

{% block main %}

<style>
  img {
    filter: grayscale(100%);
  }
</style>


<div class="column is-mobile">
  <div class="container">
    <div class="container">

      <nav class="navbar is-white">
        <div class="container">
          <div class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item is-active" href="#">Blue Print</a>
              <a class="navbar-item" href="{{ url_for('groups.controller_group', id=group['id'] ) }}">Controller</a>
            </div>
          </div>
        </div>
      </nav>
      <div class="column is-half is-offset-one-quarter">
        <div class="box has-text-centered">
          <input id="lock" value="Unlock Device" class="button is-medium is-dark" type="submit">
        </div>
      </div>
    </div>
    <div class="section">
      <section class="hero is-medium">
        <figure class="image">
          <img src="{{ image }}">
        </figure>
        {% for device, icon in obj %}
        {% if device.type_id == 1 %}
        <div id="draggable {{device.id}}" class="column is-1 ui-widget-content" value={{device.id}}
          style="position: relative; left: {{device.position_left}}; top: {{device.position_top}};">
          {% if device.last_command == device.command_on %}
          <form id="pub{{device.id}}" method="POST">
            <p><i id="color{{device.id}}" class="{{icon}}" color="#ff6600"></i></p>
            <input value="{{device.id}}/{{device.command_off}}" type="hidden" name="command"
              id="commandjs{{device.id}}">
            <input type="submit" class="button is-normal is-primary" id="nextcommand{{device.id}}" value="Off">
          </form>
          {% else %}
          <form id="pub{{device.id}}" method="POST">
            <p><i id="color{{device.id}}" class="{{icon}}" color="#E9E2E0"></i></p>
            <input value="{{device.id}}/{{device.command_on}}" type="hidden" name="command" id="commandjs{{device.id}}">
            <input type="submit" class="button is-normal is-primary" id="nextcommand{{device.id}}" value="On">
          </form>
          {% endif %}
          <script>
            function addSubmit(ev) {
              ev.preventDefault();
              var request = new XMLHttpRequest();
              request.addEventListener('load', addShow);
              request.open('POST', {{ url_for('devices.pub_device')| tojson }});
            request.send(new FormData(this));
                  }
            function addShow() {
              var data = JSON.parse(this.responseText);

              //var last_date_concat = "lastdate".concat(data.id);
              //var last_date_txt = document.getElementById(last_date_concat);
              //last_date_txt.innerText = data.last_date

              var next_command_concat = "nextcommand".concat(data.id);
              document.getElementById(next_command_concat).setAttribute('value', data.next_command);

              var device_command_concat = "commandjs".concat(data.id);
              var device_command_txt = data.id.concat("/", data.device_command)
              document.getElementById(device_command_concat).setAttribute('value', device_command_txt);

              var device_color_concat = "color".concat(data.id);
              document.getElementById(device_color_concat).setAttribute('color', data.device_color);

            }
            var form = document.getElementById('pub{{device.id}}');
            form.addEventListener('submit', addSubmit);
          </script>

        </div>
        {% endif %}



        {% if device.type_id == 2 %}
        <div id="draggable {{device.id}}" class="column is-1 ui-widget-content" value={{device.id}}
          style="position: relative; left: {{device.position_left}}; top: {{device.position_top}};">

  
          <p><i class="{{icon}}" color="#ff6600"></i></p>
          <p>
            <em>{{ device.prefix }}</em>
            <strong id="receive{{device.id}}" class="is-primary"> Waiting... </strong>
            <em style="font-size:16px;">{{ device.postfix }}</em>
          </p>

          <script type="text/javascript" charset="utf-8">
            socket.on('{{device.topic_sub}}', function (dataio) {
              console.log(dataio)
              if (dataio['topic'] == '{{device.topic_sub}}') {
                $('#receive{{device.id}}').text(dataio['payload']);
              }
            });
          </script>
        </div>
        {% endif %}
        {% endfor %}
      </section>
    </div>
  </div>
</div>

<script>
  //Draggable Icon
  $(function () {
    $(".ui-widget-content").draggable({
      cursor: "crosshair",
      containment: ".image"
    });
  });

  //Lock and Unlock draggable Icon
  $(function () {
    //init state locked
    if ($("#lock").val() === "Unlock Device"){
      $(".ui-widget-content").draggable("disable");
    }

    //click button lock
    $("#lock").click(function () {
      if ($(this).val() === 'Unlock Device') {
        $("#lock").val("Lock Device")
        $(".ui-widget-content").draggable("enable");
      } else {
        $(".ui-widget-content").draggable("disable");
        $("#lock").val("Unlock Device")
      }
    });
  });
</script>


<script>
  //Event drag *indetermined time 
  //get inf. the position Icon
  $('.ui-widget-content').on('drag', function (e) {
    var _id = this.id;
    var _left = this.style['left'];
    var _top = this.style['top'];

    $.ajax({
      method: "POST",
      url: "/get_position",
      contentType: 'application/json;charset=UTF-8',
      data: JSON.stringify({ 'id': _id, 'left': _left, 'top': _top }),
      dataType: "json"
    });
  });
</script>

{% endblock main %}