{% extends "base.html" %}

{% block main %}

<div class="column is-mobile">
    <div class="column is-half is-offset-one-quarter">

        <nav class="panel">
            <p class="panel-heading">
                {{ title }}
            </p>
            <form method="POST" action="">

                <div class="panel-block">
                    <div class="table-container column is-12">
                        <table class="table is-striped is-fullwidth">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Num Device</th>
                                </tr>
                            </thead>
                            {% for group, num_device in obj %}
                            <tbody>
                                <tr>
                                    <td>{{ group.name }}</td>
                                    <td>{{ group.description }}</td>      
                                    <td>{{ num_device }}</td>
                                </tr>
                            </tbody>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </form>
        </nav>
    </div>
</div>
{% endblock main %}