{% extends "base.html" %}

{% block main %}

<div class="container">
  <div class="columns is-centered is-vcentered is-mobile">
    <section class="section">

      <div class="tile is-ancestor">
        <div class="tile is-parent">
          <div class="tile is-child box">
            <p class="title">{{ title }}</p>
            <p>The Appi2c uses the groups to group the managed devices.</p>
            <p>An device managed can be located in only one goup.</p>
            <p>The group is associated with only one Broker.</p>
            <p>All managed devices in a group will be associated with the same Broker.</p>
            <p>Groups cannot be deleted if there is a managed device in the group.</p>
          </div>
        </div>
      </div>
      
    </section>
  </div>
</div>

{% endblock main %}