{% extends "base.html" %}

{% block main %}

<style>
    img {
      filter: grayscale(100%);
    }
</style>

<div class="container">
    <div class="columns is-centered is-vcentered is-mobile">
        
        <section class="section">
            <form method="POST" action="" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <nav class="panel">
                    <p class="panel-heading">
                        {{title}}
                    </p>
                    <section class="section">
                        <div class="field">
                            {{ form.name.label }}
                            {% if form.name.errors %}
                            {{ form.name(class="input is-info is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.name.errors %}
                                <p class="help is-danger">
                                    <span>{{ error }}</span>
                                </p>
                                </p>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.name(class="input is-info", type="text") }}
                            {% endif %}
                        </div>

                        <div class="field">
                            {{ form.description.label }}
                            {% if form.description.errors %}
                            {{ form.description(class="textarea is-info is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.description.errors %}
                                <p class="help is-danger">
                                    <span>{{ error }}</span>
                                </p>
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form.description(class="textarea is-info") }}
                            {% endif %}  
                        </div>
                        
                        <div class="field">
                            <p>
                                {{ form.file.label }}
                            </p>
                            {% if form.file.errors %}
                            {{ form.file(class="button is-danger big_size", oninput="filesize(this);") }}
                            <div class="invalid-feedback">
                                {% for error in form.file.errors %}
                                <p class="help is-danger">
                                    <span>{{ error }}</span>
                                </p>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ form.file(class="button is-primary big_size", oninput="filesize(this);") }}
                            {% endif %}
                        </div>
                        <br>

                        <div class="field">
                            <figure class="image" style="width: 400px">
                                <img src="{{ img }}">  
                            </figure>
                        </div>

                        
                        <div class="field">
                            <p class="control">
                                {{ form.submit(class="button is-primary") }}
                            </p>
                        </div>

                    </section>
                </nav>
            </form>
        </section>
    </div>
</div>

<script>
    function filesize(elem){
      document.cookie = `filesize=${elem.files[0].size}`;
      console.log(document.cookie);
    }
</script>

{% endblock main %}